<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</head>

<body>
<div th:insert="fragments/nav"></div>

<form class="container" th:method="POST" th:action="@{/add}" th:object="${pet}">


    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" aria-describedby="emailHelp"
               placeholder="Enter Name of the Pet" th:field="*{name}">
    </div>
    <div class="form-group">
        <label for="type">Type</label>
        <select class="form-control" id="type" th:field="*{type}">
            <option value="">Select Type</option>
            <option th:each="enumType : ${T(com.humber.falgunmidassignment.models.Type).values()}"
                    th:value="${enumType}" th:text="${enumType}"></option>
        </select>
    </div>

    <div class="form-group">
        <label for="breed">Breed</label>
        <input type="text" class="form-control" id="breed" aria-describedby="emailHelp"
               placeholder="Enter Breed" th:field="*{breed}">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<!--<div th:insert="fragments/footer"></div>-->
</body>
</html>
